
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayDict</title>
</head>
<body>
    <div>
        @Html.Raw((string)ViewBag.OutputDictionary)
    </div>
</body>
</html>
