
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>displayStack</title>
</head>
<body>
    <div> 
        @Html.Raw((string)ViewBag.DisplayStack)
    </div>
</body>
</html>
