
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>displayStack</title>
</head>
<body>
    <div>
        @foreach (var sData in ViewBag.OutputStack)
        {
            <p>@sData</p>
        }
    </div>
</body>
</html>
